@config "../../tailwind.config.mjs";

@tailwind base;
@layer base {
    @font-face {
        font-family: "Poppins";
        src: url("/eating-memories/fonts/Poppins/Poppins-Regular.ttf") format("truetype"),
                url("/eating-memories/fonts/Poppins/Poppins-Regular.woff") format("woff"),
                url("/eating-memories/fonts/Poppins/Poppins-Regular.woff2") format("woff2");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: "Poppins";
        src: url("/eating-memories/fonts/Poppins/Poppins-Italic.ttf") format("truetype"),
                url("/eating-memories/fonts/Poppins/Poppins-Italic.woff") format("woff"),
                url("/eating-memories/fonts/Poppins/Poppins-Italic.woff2") format("woff2");
        font-weight: normal;
        font-style: italic;
        font-display: swap;
    }

    @font-face {
        font-family: "Poppins";
        src: url("/eating-memories/fonts/Poppins/Poppins-Thin.ttf") format("truetype"),
                url("/eating-memories/fonts/Poppins/Poppins-Thin.woff") format("woff"),
                url("/eating-memories/fonts/Poppins/Poppins-Thin.woff2") format("woff2");
        font-weight: 100;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: "Poppins";
        src: url("/eating-memories/fonts/Poppins/Poppins-ThinItalic.ttf") format("truetype"),
                url("/eating-memories/fonts/Poppins/Poppins-ThinItalic.woff") format("woff"),
                url("/eating-memories/fonts/Poppins/Poppins-ThinItalic.woff2") format("woff2");
        font-weight: 100;
        font-style: italic;
        font-display: swap;
    }

    @font-face {
        font-family: "Poppins";
        src: url("/eating-memories/fonts/Poppins/Poppins-ExtraLight.ttf") format("truetype"),
                url("/eating-memories/fonts/Poppins/Poppins-ExtraLight.woff") format("woff"),
                url("/eating-memories/fonts/Poppins/Poppins-ExtraLight.woff2") format("woff2");
        font-weight: 200;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: "Poppins";
        src: url("/eating-memories/fonts/Poppins/Poppins-ExtraLightItalic.ttf") format("truetype"),
                url("/eating-memories/fonts/Poppins/Poppins-ExtraLightItalic.woff") format("woff"),
                url("/eating-memories/fonts/Poppins/Poppins-ExtraLightItalic.woff2") format("woff2");
        font-weight: 200;
        font-style: italic;
        font-display: swap;
    }

    @font-face {
        font-family: "Poppins";
        src: url("/eating-memories/fonts/Poppins/Poppins-Light.ttf") format("truetype"),
                url("/eating-memories/fonts/Poppins/Poppins-Light.woff") format("woff"),
                url("/eating-memories/fonts/Poppins/Poppins-Light.woff2") format("woff2");
        font-weight: 300;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: "Poppins";
        src: url("/eating-memories/fonts/Poppins/Poppins-LightItalic.ttf") format("truetype"),
                url("/eating-memories/fonts/Poppins/Poppins-LightItalic.woff") format("woff"),
                url("/eating-memories/fonts/Poppins/Poppins-LightItalic.woff2") format("woff2");
        font-weight: 300;
        font-style: italic;
        font-display: swap;
    }

    @font-face {
        font-family: "Poppins";
        src: url("/eating-memories/fonts/Poppins/Poppins-Medium.ttf") format("truetype"),
                url("/eating-memories/fonts/Poppins/Poppins-Medium.woff") format("woff"),
                url("/eating-memories/fonts/Poppins/Poppins-Medium.woff2") format("woff2");
        font-weight: 500;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: "Poppins";
        src: url("/eating-memories/fonts/Poppins/Poppins-MediumItalic.ttf") format("truetype"),
                url("/eating-memories/fonts/Poppins/Poppins-MediumItalic.woff") format("woff"),
                url("/eating-memories/fonts/Poppins/Poppins-MediumItalic.woff2") format("woff2");
        font-weight: 500;
        font-style: italic;
        font-display: swap;
    }

    @font-face {
        font-family: "Poppins";
        src: url("/eating-memories/fonts/Poppins/Poppins-SemiBold.ttf") format("truetype"),
                url("/eating-memories/fonts/Poppins/Poppins-SemiBold.woff") format("woff"),
                url("/eating-memories/fonts/Poppins/Poppins-SemiBold.woff2") format("woff2");
        font-weight: 600;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: "Poppins";
        src: url("/eating-memories/fonts/Poppins/Poppins-SemiBoldItalic.ttf") format("truetype"),
                url("/eating-memories/fonts/Poppins/Poppins-SemiBoldItalic.woff") format("woff"),
                url("/eating-memories/fonts/Poppins/Poppins-SemiBoldItalic.woff2") format("woff2");
        font-weight: 600;
        font-style: italic;
        font-display: swap;
    }

    @font-face {
        font-family: "Poppins";
        src: url("/eating-memories/fonts/Poppins/Poppins-Bold.ttf") format("truetype"),
                url("/eating-memories/fonts/Poppins/Poppins-Bold.woff") format("woff"),
                url("/eating-memories/fonts/Poppins/Poppins-Bold.woff2") format("woff2");
        font-weight: 700;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: "Poppins";
        src: url("/eating-memories/fonts/Poppins/Poppins-BoldItalic.ttf") format("truetype"),
                url("/eating-memories/fonts/Poppins/Poppins-BoldItalic.woff") format("woff"),
                url("/eating-memories/fonts/Poppins/Poppins-BoldItalic.woff2") format("woff2");
        font-weight: 700;
        font-style: italic;
        font-display: swap;
    }

    @font-face {
        font-family: "Poppins";
        src: url("/eating-memories/fonts/Poppins/Poppins-ExtraBold.ttf") format("truetype"),
                url("/eating-memories/fonts/Poppins/Poppins-ExtraBold.woff") format("woff"),
                url("/eating-memories/fonts/Poppins/Poppins-ExtraBold.woff2") format("woff2");
        font-weight: 800;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: "Poppins";
        src: url("/eating-memories/fonts/Poppins/Poppins-ExtraBoldItalic.ttf") format("truetype"),
                url("/eating-memories/fonts/Poppins/Poppins-ExtraBoldItalic.woff") format("woff"),
                url("/eating-memories/fonts/Poppins/Poppins-ExtraBoldItalic.woff2") format("woff2");
        font-weight: 800;
        font-style: italic;
        font-display: swap;
    }

    @font-face {
        font-family: "Poppins";
        src: url("/eating-memories/fonts/Poppins/Poppins-Black.ttf") format("truetype"),
                url("/eating-memories/fonts/Poppins/Poppins-Black.woff") format("woff"),
                url("/eating-memories/fonts/Poppins/Poppins-Black.woff2") format("woff2");
        font-weight: 900;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: "Poppins";
        src: url("/eating-memories/fonts/Poppins/Poppins-BlackItalic.ttf") format("truetype"),
                url("/eating-memories/fonts/Poppins/Poppins-BlackItalic.woff") format("woff"),
                url("/eating-memories/fonts/Poppins/Poppins-BlackItalic.woff2") format("woff2");
        font-weight: 900;
        font-style: italic;
        font-display: swap;
    }

    html {
        @apply font-sans;
        @apply bg-white text-main-950;
        span, del {
            @apply decoration-2;
        }
        
        button, a {
            Icon, svg {
                @apply text-2xl;
            }
        }
    
        blockquote {
            @apply bg-main-100 pt-2 pb-1 px-5 border-l-4 border-l-main-600;
            blockquote {
                @apply border-none pb-0;
            }
        }
    
        p {
            @apply mb-2;
        }
    
        h1 {
            @apply font-bold text-xl capitalize;
        }
    
        h2 {
            @apply text-lg font-medium;
        }
    
        h3, h4, h5 {
            @apply mt-3;
        }
    
        ul {
            @apply pl-6;
            li {
                @apply list-disc;
            }
        }
    
        ol {
            @apply list-decimal pl-6;
        }
    
        hr {
            @apply bg-main-600 h-[1px] border-none my-3;
        }

        .popup-bg{
            @apply z-0 absolute w-svw h-svh bg-main-950/50;
        }

        .subtitle {
            @apply text-main-900;
        }

        .tag {
            @apply px-2 py-1 rounded-xl bg-main-300 capitalize whitespace-nowrap;
        }

        img.placeholder {
            @apply w-20 h-20 rounded-lg bg-main-100;
        }

        .hover-shadow {
            @apply border-main-500 hover:shadow-custom hover:shadow-main-400 border-2 border-solid;
        }

        input.decimal-input {
            @apply border-2 w-32 portrait:w-14 portrait:min-w-14 border-solid border-main-600;
        }

        .filled-background {
            @apply bg-white;
        }

        .recipe-method {
            h1 {
                @apply text-lg text-main-600;
            }
    
            h2 {
                @apply text-lg font-semibold text-main-600;
            }

            h3 {
                @apply font-medium text-main-600;
            }
            
            blockquote, ul, ol {
                @apply mb-2;
            }
    
            a {
                @apply underline text-main-600 hover:text-main-500;
            }

            .ingredient, .ingredient-group {
                @apply bg-main-200/50 px-3 rounded-xl;
            }
        }
    }

    html.dark {
        @apply bg-main-1000 text-white;

        blockquote {
            @apply bg-main-950 pt-2 pb-1 px-5 border-l-4 border-l-main-400;
        }

        .subtitle {
            @apply text-main-300
        }

        .tag {
            @apply bg-main-800;
        }

        hr {
            @apply bg-main-900;
        }

        input {
            @apply bg-main-950 border-main-900
        }

        img.placeholder {
            @apply bg-main-950
        }

        .hover-shadow {
            @apply border-main-900 hover:shadow-main-700
        }

        .filled-background {
            @apply bg-main-1000;
        }

        .recipe-method {
            h2, h3, a {
                @apply text-main-400;
            }

            a {
                @apply hover:text-main-300;
            }
        }
    }
}

@tailwind components;
@tailwind utilities;