---
import "../styles/global.css";
import BasePage from "../layouts/BasePage.astro";
---
<BasePage title="About" contentTitle="About this site">
	<p>I am an amateur homecook.</p>
	<p>I created this site as an archive for the things I"ve made in my kitchen at home.</p>
	<p>I hope you can find a recipe you like here.</p>
	<p>Thank you for entertaining my silliness.</p>
</BasePage>