---
import BasePage from "../layouts/BasePage.astro";

const msPerDay = 1000 * 60 * 60 * 24;
---
<BasePage>
	<h1>Frequently Asked Questions</h1>
	<br>
	<h2>Where is the picture for x?</h2>
	<p class="pl-5">I can't be bothered. Just trust the process.</p>
	<hr>
	<h2>Where are the 50-page essays on the origin of each individual dish?</h2>
	<p class="pl-5">I am a person of few words.</p>
	<hr>
	<h2>Can I substitute x for y?</h2>
	<div class="pl-5">
		<p>What are you trying to substitute?</p>
		<p><b>Spices:</b> Maybe, depends on your taste and whether you think it would go along with the other things in the ingredients list.</p>
		<p><b>Meats, vegetables, fruits, carbs:</b> You probably could, but make sure to change the cooking time to ensure the substitute is properly cooked.</p>
		<p><b>Dough Ingredient:</b> Google would be a much better source, but I am trying to compile a good list of substitutes that have worked for me in the past.</p>
	</div>
	<hr>
	<h2>How many calories does x have?</h2>
	<p class="pl-5">Unfortunately I don't have the tools to calculate that.</p>
	<hr>
	<h2>Do my measurements have to be exact?</h2>
	<div class="pl-5">
		<p>Short answer: no.</p>
		<p>Long answer:</p>
		<p><b>Are you measuring salt?</b> For a dish or baked good, it's better to unsalt than oversalt. For preserving or curing, I'm not sure.</p>
		<p><b>Are you making a dough or batter for breads or pastries?</b> I believe the margin of error for flours and sugars is generally higher than leveners and salt (Source: my mistakes). However, baking is a science, and significant changes in ingredient proportions can impact results for the better and worse, so be careful.</p>
		<p><b>Otherwise, </b>you're probably fine. I encourage tweaking recipes to experiment with what suit your tastes. Everyone's taste buds are different.</p>
	</div>
	<hr>
	<h2>What prompted you to make this site?</h2>
	<p class="pl-5">I wanted to have a place to archive my recipes that I easily look back to in. Hopefully you can enjoy some of the recipes found here.</p>
	<hr>
	<h2>What makes you qualified in having good taste?</h2>
	<div class="pl-5">
		<p>Having at least one meal per day for the past {Intl.NumberFormat("en-CA").format(Math.floor(new Date().getTime() / msPerDay - new Date(2000, 2, 26).getTime() / msPerDay))} days refined my palate and gives me all the credibility I need to deliver this site's contents.</p>
		<p>I also have friends who <i>usually</i> say my food tasted good.</p>
	</div>
</BasePage>