---
import { Icon } from "astro-icon/components";
import { getPageLink } from "../utils";
import { ICONS, PAGE_NAMES } from "../const.ts";
import Logo from "./Logo.astro";
---

<div id="footer" class="flex items-center py-2 text-white justify-evenly bg-main-600 print:hidden">
    <div>
        <a href={getPageLink()}>
            <Logo isLogoWhite={true}/>
        </a>
        <a href={getPageLink(PAGE_NAMES.ARCHIVE)}>Archive</a>
    </div>
    <a target="_blank" rel="noopener noreferrer" href=`https://github.com/kymlu/eating-memories`>
        <div class="flex flex-row items-center gap-1 p-2">
            <Icon class="text-3xl" name={ICONS.GITHUB}/>
            <span class="portrait:hidden">Github</span>
        </div>
    </a>
</div>

<style>
    :global(.dark) #footer {
        @apply bg-main-900;
    }
</style>