---
import { Icon } from "astro-icon/components";
import { getPageLink } from "../utils";
import { SITE_TITLE, ICONS, PAGE_NAMES } from "../const.ts";
---

<div class="flex items-center pb-2 text-white justify-evenly bg-main-700">
    <div class="flex items-center gap-4">
        <a href={getPageLink()} class="flex flex-row items-center flex-1 gap-2">
            <Icon name={ICONS.LOGO} class="text-3xl"></Icon>
            <div class="font-bold">{ SITE_TITLE }</div>
        </a>
        <!-- <span class="cursor-default select-none">|</span> -->
        <!-- <a href={getPageLink(PAGE_NAMES.ABOUT)} class="p-2">Sitemap</a> -->
    </div>
    <a href=`https://github.com/kymlu/eating-memories`>
        <div class="flex flex-row items-center gap-1 p-2">
            <Icon name={ICONS.GITHUB}></Icon>
            <span class="portrait:hidden">Github</span>
        </div>
    </a>
</div>