---
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
// import "../styles/global.css";
import { SITE_TITLE } from "../const.ts";
interface Props {
	title?: string;
}
const {title} = Astro.props;
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{title ? `${title} | ${SITE_TITLE}` : SITE_TITLE}</title>
		<link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/eating-memories/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/eating-memories/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/eating-memories/favicon-16x16.png">
		<link rel="manifest" href="/eating-memories/site.webmanifest">
		<link rel="stylesheet" href="/eating-memories/styles/global.css">
	</head>
	<body class="relative flex flex-col h-screen">
		<Navigation/>

        <main class="flex-grow mx-20 my-10 portrait:mx-10">
            <slot/>
        </main>
		
		<footer class="w-full">
			<Footer/>
		</footer>
	</body>
</html>