---
import "../styles/global.css"
import SaveButton from "./SaveButton.astro";
interface Props {
	id: string;
	name: string;
	link: string;
	imageLink?: string;
}
const { id, name, link, imageLink} = Astro.props;
---

<div class="box-content relative flex flex-col w-24 px-3 pt-2 pb-1 transition-all duration-100 border-2 border-solid rounded-lg min-h-24 min-w-24 border-main-500 hover:shadow-custom hover:shadow-main-400">
	<a href={link} class="flex flex-col items-center gap-0">
		<img src={imageLink ?? "/eating-memories/favicon.svg"} class="w-20 h-20 rounded-lg bg-main-100">
		<span class="text-center">{name}</span>
	</a>
	<div class="absolute top-1 right-1">
		<SaveButton recipeId={id}></SaveButton>
	</div>
</div>